h1 {
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

body {
	background-color: #A9CFAE;
	margin: 0px 100px 0px 100px;
}

h3 {
	text-align: center;
}

h4 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

form {
	text-align: center;
}