<!doctype html>
<html>
	<head>
	<title>Embarc Instructor Portal</title>
	<style> h1 {text-align: center;} 
	body{background-color: #a9cfac}
	div {text-align: center}
	img {display: block; margin: 0 auto; padding-top: 50px}
	</style>
	</head>

	<body>

		<div>
			<div>
				<h1>Embarc Instructor Portal</h1>
			</div>
		</div>	
		<div>
			<input type="text" name="" placeholder="Journey Name"/>

			<button type="button" class="btn btn-success”>View Surveys</button>

			<a href="#" class="btn btn-success" onclick="document.location='http://localhost:8080/journey'">Add Journey</a>
			<button type="button" class="btn btn-success”>Add Journey </button>
		</div>
		<div>
			<a href="#" onclick="document.location='http://localhost:8080/survey'">View Surveys</a>
		</div>

		<img src="https://www.embarcchicago.org/_res/img/facebook_share_icon.png" alt="Mountain View" align = "center" style="width:250px;height:228px;">		
	</body>
 </html>