<!doctype html>
<html>
	<head>
	<title>Embarc Instructor Log-In Page</title>
	<style> 
		h1 {
		text-align: center;
		font-size: 75px
		} 
		body{
		background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/blue-neon-cityscape.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		}
	div {text-align: center}

	</style>
	</head>

	<body>

		<div>
			<div>
				<h1 style="color: white">Embarc Instructor Log-In Page</h1>
				<form>
  				<br>
  				<input type="text" text-align=center name="firstname" value="username">
  				<br>
 				<br>
  				<input type="text" text-align=center name="lastname" value="password">
  				<br><br>
  				<input type="submit" value="Submit">
				</form> 
			</div>
		</div>	
		<div>
<!---
			<a href="#" class="btn btn-success" onclick="document.location='http://localhost:8080/portal'">Add Journey</a>
			<button type="button" class="btn btn-success”>Add Journey </button>

-->
		</div>
	</body>
 </html>